#### Question 1

Consider the following Python module: <br>
a = 0 def b(): <br>
global a <br>
a = c(a) <br>

def c(a): <br>
return a + 2 <br>

After importing the module into the interpreter, you execute: <br>

b() <br>
b() <br>
b() <br>
a ? <br>

What value is displayed when the last expression (a) is evaluated? Explain your <br> answer by indicating what happens in every executed statement.

In [1]:
%%writefile module_1.py

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

Overwriting module_1.py

In [2]:
import module_1

module_1.b()
module_1.b()
module_1.b()

module_1.a

6

#### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: <br>

fileLength('midterm.py') <br> 284 <br>
fileLength('idterm.py')  <br> Traceback (most recent call last): <br>
File "<pyshell#34>", line 1, in <module> <br> fileLength('idterm.py') <br>
File "/Users/me/midterm.py", line 3, in fileLength <br> infile = open(filename) <br>
FileNotFoundError: [Errno 2] No such file or directory: <br> 'idterm.py' <br>

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: <br>

fileLength('midterm.py') <br> 358 <br>
fileLength('idterm.py') <br> File idterm.py not found.

In [3]:
def fileLength(filename):
  try:
    infile = open(filename) # try to open the file
    content = infile.read() # read the content as a string
    infile.close() # close the file
    return len(content) # return the length of the string
  except FileNotFoundError: # if the file is not found
    print(f"File {filename} not found.") # print a friendly message

# test cases
print(fileLength('midterm.py'))
print(fileLength('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.
None

#### Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial()<br>
m.put_in_pouch('doll')<br>
m.put_in_pouch('firetruck')<br>
m.put_in_pouch('kitten')<br>
m.pouch_contents() ['doll', 'firetruck', 'kitten']<br>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br>
a. extends the Marsupial  init constructor to take, as input, the
coordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and<br>
c.overloads the	str operator so it behaves as shown below.<br>

k = Kangaroo(0,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (0,0)<br>
k.put_in_pouch('doll')<br>
k.put_in_pouch('firetruck')<br>
k.put_in_pouch('kitten')<br>
k.pouch_contents() ['doll', 'firetruck', 'kitten']<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (3,0)<br>

In [4]:
class Marsupial:
  def __init__(self):
    self.pouch = [] # initialize an empty pouch

  def put_in_pouch(self, item):
    self.pouch.append(item) # add the item to the pouch

  def pouch_contents(self):
    return self.pouch # return the pouch contents

class Kangaroo(Marsupial): # inherit from Marsupial
  def __init__(self, x, y):
    super().__init__() # call the parent constructor
    self.x = x # set the x coordinate
    self.y = y # set the y coordinate

  def jump(self, dx, dy):
    self.x += dx # update the x coordinate by dx
    self.y += dy # update the y coordinate by dy

  def __str__(self):
    return f"I am a Kangaroo located at coordinates ({self.x},{self.y})" # return a string representation

In [5]:
# Test the classes
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

#### Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:<br>

x = { 𝑥/2	𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 
    3𝑥 + 1	 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your <br> implementation must be recursive, without any loops. <br>

collatz(1)<br>
1 <br>
collatz(10) <br>
10 <br>
5 <br>
16 <br>
8<br>4<br>2<br>1 <br>

In [6]:
def collatz(x):
    print(x)
    if x == 1:  # Base case: Stop when x reaches 1
        return
    elif x % 2 == 0:  # If x is even
        collatz(x // 2)
    else:  # If x is odd
        collatz(3 * x + 1)

# Test the function
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

#### Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. <br>

binary(0) 0  <br>
binary(1) 1  <br>
binary(3) 11  <br>
binary(9) 1001  <br>

In [7]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

In [8]:
binary(0)
print()  # Newline for clarity

binary(1)
print()

binary(3)
print()

binary(9)
print()

0
1
11
1001

#### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: <br>an h1 heading should have
indentation 0, and <br> h2 heading should have indentation 1, etc. Test your implementation using w3c.html.<br>

infile = open('w3c.html') <br>
content = infile.read() <br>
infile.close() <br>
hp = HeadingParser() <br>
hp.feed(content)<br> W3C Mission <br>Principles

In [9]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.is_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():
            self.indentation = int(tag[1:]) - 1
            self.is_heading = True

    def handle_endtag(self, tag):
        if tag.startswith('h') and tag[1:].isdigit():
            self.is_heading = False

    def handle_data(self, data):
        if self.is_heading:
            print(' ' * self.indentation + data)

# Read the HTML content from the file
with open('w3c.html') as infile:
    content = infile.read()

# Parse the HTML content using the HeadingParser
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

#### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. <br>


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0) <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html <br> http://reed.cs.depaul.edu/lperkovic/csc242/test2.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html <br> http://reed.cs.depaul.edu/lperkovic/csc242/test3.html <br> 
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html <br>

In [10]:
import re
import requests

def webdir(url, depth, indent):
    if depth < 0:
        return

    # Fetch the web page content
    response = requests.get(url)
    page_content = response.text

    # Print the current web page URL with proper indentation
    print(' ' * indent + url)

    if depth == 0:
        return

    # Find all anchor tags and extract URLs using regular expressions
    pattern = r'<a\s+(?:[^>]*?\s+)?href="([^"]*)"'
    urls = re.findall(pattern, page_content)
    for found_url in urls:
        if found_url.startswith('http'):
            webdir(found_url, depth - 1, indent + 4)

In [11]:
# Usage example
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

#### Question 8
Write SQL queries on the below database table that return:<br>
a)All the temperature data.<br>
b)All the cities, but without repetition.<br>
c)All the records for India.<br>
d)All the Fall records.<br>
e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.<br>
f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.<br>
g)The total annual rainfall for Cairo.<br>
h)The total rainfall for each season.<br>
| City        | Country      | Season        | Temperature(C)      | Rainfall(mm)        | 
| --------------- | --------------- | --------------- | --------------- | --------------- | 
|Mumbai	|India	|Winter	|24.8	|5.9|
|Mumbai	|India	|Spring	|28.4	|16.2|
|Mumbai	|India	|Summer	|27.9	|1549.4|
|Mumbai	|India	|Fall	|27.6	|346.0|
|London	|United Kingdom	|Winter	|4.2	|207.7|
|London	|United Kingdom	|Spring	|8.3	|169.6|
|London	|United Kingdom	|Summer	|15.7	|157.0|
|London	|United Kingdom	|Fall	|10.4	|218.5|
|Cairo	|Egypt	|Winter	|13.6	|16.5|
|Cairo	|Egypt	|Spring	|20.7	|6.5|
|Cairo	|Egypt	|Summer	|27.7	|0.1|
|Cairo	|Egypt	|Fall	|22.2	|4.5|

In [12]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('Weather.db')  # Use in-memory database for this example

# Create a cursor to interact with the database
cursor = conn.cursor()

# Create the table and insert the data
cursor.execute('''CREATE TABLE Weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')
# Commit the changes
conn.commit()

# Close the connection
conn.close()

OperationalError: table Weather already exists

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('Weather.db')

# Create a cursor object
cursor = conn.cursor()

# Insert multiple rows of data
sql = "INSERT INTO Weather(City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)"
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany(sql, data)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [14]:
# Execute the SQL queries
import sqlite3

# Connect to the database
conn = sqlite3.connect('Weather.db')

# Create a cursor object
cursor = conn.cursor()
cursor.execute('SELECT Temperature FROM Weather')
temperature_data = cursor.fetchall()

cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()

cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
india_records = cursor.fetchall()

cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

cursor.execute('SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400')
average_rainfall_records = cursor.fetchall()

cursor.execute('SELECT City, Country FROM Weather WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature ASC')
temperature_sorted_records = cursor.fetchall()

cursor.execute('SELECT SUM(Rainfall) FROM Weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

cursor.execute('SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season')
seasonal_rainfall = cursor.fetchall()

# Close the cursor
cursor.close()

# Close the connection
conn.close()

In [15]:
for rows in temperature_data:
    print(rows)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [16]:
for rows in cities:
    print(rows)

('Mumbai',)
('London',)
('Cairo',)

In [17]:
for rows in india_records:
    print(rows)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [18]:
for rows in fall_records:
    print(rows)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [19]:
print("\nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
print(average_rainfall_records)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall'), ('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [20]:
print("\nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
print(temperature_sorted_records)

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
[('Cairo', 'Egypt'), ('Cairo', 'Egypt'), ('Mumbai', 'India'), ('Mumbai', 'India')]

In [21]:
print("\nThe total annual rainfall for Cairo:")
print(cairo_total_rainfall)

The total annual rainfall for Cairo:
55.2

In [22]:
for rows in seasonal_rainfall:
    print(rows)

('Fall', 1138.0)
('Spring', 384.59999999999997)
('Summer', 3413.0)
('Winter', 460.2)

#### Question 9
Suppose list words is defined as follows: <br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']  <br>
Write list comprehension expressions that use list words and generate the following lists:  <br>

- ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']  <br>

- ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']  <br>

- [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).  <br>

- [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]]  <br> 

(the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) 
<br>

- ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [23]:
def sentence(words):
    word_upper = [word.upper() for word in words]
    word_lower = [word.lower() for word in words]
    word_lengths = [len(word) for word in words]
    word_details = [[word.upper(), word.lower(), len(word)] for word in words]
    word_long = [word for word in words if len(word) >= 4]
    
    return word_upper, word_lower, word_lengths, word_details, word_long

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
result = sentence(words)

word_upper, word_lower, word_lengths, word_details, word_long = result

In [25]:
print(word_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [26]:
print(word_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [28]:
print(word_details)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [29]:
print(word_long)

['quick', 'brown', 'jumps', 'over', 'lazy']